*/**/__pycache__
*/__pycache__
*.dcm
*.pt
*.pth
*.zip
*.ckpt
*.json

# Distribution / packaging
build/
dist/
*.egg-info/


# Pycharm
.idea

# vscode
.vscode

# Data and outputs
examples/data/
examples/*/data/
examples/*/outputs/
examples/*/lightning_logs/
examples/*/tb_logs/
examples/*/logs/
examples/*/demo*/
examples/*/configs_experiment/

# Logs
log-*.txt
*gitdiff.patch

# Sphinx documentation
docs/build/
docs/source/backup

# Testing
.coverage
cov*.xml
tests/test_data
tests/loaddata/tests
tests/pipeline/tests

# Lightning
lightning_logs
tb_logs/*

# Jupyter Notebook Checkpoints
*-checkpoint.ipynb

# Examples
# cmri_mpca - the saved images
examples/cmri_mpca/outputs
