*/**/__pycache__
*/__pycache__

# Pycharm
.idea

# Data and outputs
examples/data/
examples/*/data/
examples/*/outputs/
examples/*/lightning_logs/
examples/action_dann_lightn/configs_xianyuan/
examples/action_dann_lightn/models/

# Sphinx documentation
docs/build/
docs/source/backup 
