# Dependencies for examples/tutorials and development. Auto-sorted!
black
flake8
flake8-print
ipykernel
ipython
isort
m2r
matplotlib
mypy
nbsphinx
nbval
pre-commit
pytest
sphinx
sphinx_rtd_theme
torchsummary>=1.5.0
tqdm>=4.1.0
yacs>=0.1.7
