# Core kale API dependencies. Auto-sorted! If updating this, you need to update docs/requirements.txt too.
# Not all have a min-version specified, which is not uncommon. Specify when known or necessary (e.g. errors).
# Install PyTorch from the official website to match your hardware.
# To work on graphs, install torch-geometric following the official instructions (e.g. below):
# python -m pip install torch-cluster torch-scatter torch-sparse torch-spline
numpy>=1.18.0
pytorch-lightning
scikit-image
scikit-learn
tensorly
torch>=1.7.0
torchvision>=0.8.1
