-r requirements.txt

# Needed only for torch-geometric
#torch-cluster==1.5.4
#torch-scatter==2.0.4
torch-sparse==0.6.5
#torch-spline-conv==1.2.0
torch-geometric==1.5.0

# Documentation packages
nbsphinx
nbsphinx-link
pytorch-lightning
scikit-image
tensorly
