# Sorted
--find-links https://download.pytorch.org/whl/torch_stable.html

nbsphinx
nbsphinx-link
numpy

pandas
pillow>=6.2.0
PyTDC
pytorch-lightning
rdkit-pypi
recommonmark
scikit-learn
sphinx-rtd-theme
tensorly
torch==1.7.1+cpu
torch-geometric
torch-sparse

torchsummary>=1.5.0
torchvision
yacs>=0.1.7
