# Sorted
--find-links https://download.pytorch.org/whl/torch_stable.html

# Learn from https://github.com/rusty1s/pytorch_geometric/blob/master/docs/requirements.txt
# Remove if switching to DGL
cython
https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_scatter-2.0.7-cp37-cp37m-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.9.0%2Bcpu/torch_sparse-0.6.10-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torch-1.9.1%2Bcpu-cp37-cp37m-linux_x86_64.whl

ipython<9.0

nbsphinx
nbsphinx-link
numpy

pandas
pillow>=6.2.0
PyTDC
pytorch-lightning
rdkit-pypi
recommonmark
scikit-learn
sphinx-markdown-tables
sphinx-rtd-theme
tensorly
# torch>=1.7.0
torch-geometric

torchsummary>=1.5.0
torchvision
yacs>=0.1.7
