# This workflow will generate a log of changes automatically upon a new release.
# See https://github.com/marketplace/actions/changelog-ci

name: changelog

on:
  pull_request:
    types: [opened]

jobs:
  log-changes:
    name: Log changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run changelog
        uses: saadmk11/changelog-ci@v0.7.0
        with:
          changelog_filename: .github/CHANGELOG.md
          config_file: .github/changelog-ci-config.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
