# This workflow will run lint and many other pre-commit hooks.
# https://pre-commit.com/

name: pre-commit-check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pre-commit-check:
    name: Pre-commit checks including linting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.7"
    - name: Install dependencies
      run: |
        pip install pre-commit isort
        pre-commit install
    - name: Run pre-commit checks including linting
      run: |
        pre-commit run --all-files
