# This workflow will install Python dependencies, run tests, and report the coverage with a variety of Python versions and OSs
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test (${{ matrix.os }}, python version ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]
        exclude:
          - os: windows-latest
            python-version: "3.6"
          - os: windows-latest
            python-version: "3.7"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Conda info
        shell: bash -l {0}
        run: conda info
      - name: Conda list
        shell: pwsh
        run: conda list
      - name: Install dependencies
        run: |
          conda install -c conda-forge rdkit
          pip install torch==1.7.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
          pip install torchvision==0.8.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
          pip install torch-scatter -f https://pytorch-geometric.com/whl/torch-1.7.0+cpu.html
          pip install torch-sparse -f https://pytorch-geometric.com/whl/torch-1.7.0+cpu.html
          pip install torch-cluster -f https://pytorch-geometric.com/whl/torch-1.7.0+cpu.html
          pip install torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.7.0+cpu.html
          pip install torch-geometric
          pip install -e .[dev]
        shell: bash
      - name: Run unit tests
        run: |
          pytest --cov=kale
        shell: bash
      - name: Report coverage
        run: |
          coverage xml
          bash <(curl -s https://codecov.io/bash)
        shell: bash
